<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.emploiandroid">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EspaceAdministrator.Seance.AgendaCalandarView"></activity>
        <activity android:name=".EspaceAdministrator.Seance.CalendarActivity" />
        <activity android:name=".EspaceAdministrator.Seance.ListSeanceActivity" />
        <activity android:name=".EspaceAdministrator.ProfileActivity" />
        <activity android:name=".EspaceMoniteur.MoniteurActivity" />
        <activity android:name=".EspaceClient.ClientActivity" />
        <activity
            android:name=".EspaceAdministrator.Moniteur.DetailMoniteurActivity"
            android:label="@string/title_activity_detail_moniteur"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".EspaceAdministrator.Moniteur.EditMoniteurActivity" />
        <activity android:name=".EspaceAdministrator.Moniteur.AddMoniteurFormActivity" />
        <activity android:name=".EspaceAdministrator.Moniteur.ListMoniteurActivity" />
        <activity android:name=".EspaceAdministrator.Client.EditClientFormActivity" />
        <activity android:name=".EspaceAdministrator.Client.DetailClientActivity" />
        <activity android:name=".EspaceAdministrator.Client.AddClientFormActivity" />
        <activity android:name=".EspaceAdministrator.Client.ListClientActivity" />
        <activity android:name=".EspaceAdministrator.AdminActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>